{{#banking-template}}
    <div class="card">
        <div class="card-header text-center">
            <h1>Add User</h1>
        </div>
        <div class="card-body">
            <form action="add" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <h2>Personal information</h2>
                <div class="form-group row">
                    <label for="title" class="col-12 col-md-2 col-form-label">Title</label>
                    <div class="col-12 col-md-10 col-lg-2">
                        <input type="text" class="form-control" name="title" placeholder="Title" {{#form.title}}value="{{form.title}}"{{/form.title}}>
                    </div>
                    <label for="name" class="col-12 col-md-2 col-form-label">Full Name</label>
                    <div class="col-12 col-md-10 col-lg-6">
                        <input type="text" class="form-control" name="name" placeholder="Full Name" {{#form.name}}value="{{form.name}}"{{/form.name}} required>
                    </div>
                    <label for="birthDate" class="col-12 col-md-2 col-form-label">Birth date</label>
                    <div class="col-12 col-md-10 ">
                        <input type="date" class="form-control" name="birthDate" {{#form.birthDate}}value="{{form.birthDate}}"{{/form.birthDate}}  required>
                    </div>
                </div>
                <h2>Contact informations</h2>
                <div class="rorm-group row">
                    <label for="email" class="col-12 col-md-2 col-form-label">E-Mail</label>
                    <div class="col-12 col-md-10 ">
                        <input type="email" class="form-control" name="email" placeholder="E-Mail" {{#form.email}}value="{{form.email}}"{{/form.email}} required>
                    </div>
                    <label for="phoneNumber" class="col-12 col-md-2 col-form-label">Phone Number</label>
                    <div class="col-4 col-md-3">
                        <select name="phone_state" id="phone_states" class="custom-select bfh-countries"></select>
                    </div>
                    <div class="col-8 col-md-7">
                        <input name="phoneNumber" type="text" class="form-control bfh-phone" data-country="phone_states" placeholder="Phone Number" {{#form.phoneNumber}}value="{{form.phoneNumber}}"{{/form.phoneNumber}}>
                    </div>
                </div>
                <h2>Permanent residence</h2>
                <div class="form-group row">
                    <label for="streetAddress" class="col-12 col-md-2 col-form-label">Street Address</label>
                    <div class="col-12 col-md-10">
                        <input type="text" class="form-control" name="streetAddress" placeholder="Street Address" {{#form.streetAddress}}value="{{form.streetAddress}}"{{/form.streetAddress}} required>
                    </div>
                    <label for="city" class="col-12 col-md-2 col-form-label">City</label>
                    <div class="col-12 col-md-10 col-lg-4">
                        <input type="text" class="form-control" name="city" placeholder="City" {{#form.city}}value="{{form.city}}"{{/form.city}} required>
                    </div>
                    <label for="state" class="col-12 col-md-2 col-form-label">State</label>
                    <div class="col-12 col-md-10 col-lg-4">
                        <select name="state" id="countries_states" class="custom-select bfh-countries" required></select>
                    </div>
                    <label for="postalCode" class="col-12 col-md-2 col-form-label">Postal / Zip Code</label>
                    <div class="col-12 col-md-10 col-lg-4">
                        <input type="text" class="form-control" name="postalCode" placeholder="Postal / Zip Code" {{#form.postalCode}}value="{{form.postalCode}}"{{/form.postalCode}} required>
                    </div>
                    <label for="country" class="col-12 col-md-2 col-form-label">Country</label>
                    <div class="col-12 col-md-10 col-lg-4">
                        <select class="custom-select bfh-states" data-country="countries_states" name="country" required></select>
                    </div>
                </div>
                <h2>Login information</h2>
                <div class="form-group row">
                    <label for="username" class="col-12 col-md-2 col-form-label">Username</label>
                    <div class="col-12 col-md-10">
                        <input type="text" class="form-control" name="username" placeholder="Username" {{#form.username}}value="{{form.username}}"{{/form.username}} required>
                    </div>
                    <label for="password" class="col-12 col-md-2 col-form-label">Password</label>
                    <div class="col-12 col-md-10">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <label for="passwordRepetition" class="col-12 col-md-2 col-form-label">Repeat password</label>
                    <div class="col-12 col-md-10">
                        <input type="password" class="form-control" name="passwordRepetition" placeholder="Password again" required>
                    </div>
                </div>
                <h2>Rights</h2>
                <div class="form-group row">
                    <h3 class="col">Roles:</h3>
                    <div class="col p-1">
                        <input type="checkbox" class="form-check-input" name="role_user" checked>
                        <label class="form-check-label" for="role_user">User</label>
                    </div>
                    <div class="col p-1">
                        <input type="checkbox" class="form-check-input" name="role_admin" {{^authorization.isSuperAdmin}}disabled{{/authorization.isSuperAdmin}}>
                        <label class="form-check-label" for="role_admin">Admin</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkRobot" required>
                            <label class="form-check-label" for="checkRobot">Not a robot</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{{/banking-template}}