{{#banking-template}}
    <div class="card">
        <div class="card-header text-center">
            <h1>Dashboard</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="callout callout-info">
                        <small class="text-muted">Accounts</small><br>
                        <strong class="h4">{{users-count}}</strong>
                    </div>
                </div>
                <div class="col-2">
                    <div class="callout callout-danger">
                        <small class="text-muted">Banking Accounts</small><br>
                        <strong class="h4">0</strong>
                    </div>
                </div>
                <div class="col-2">
                    <div class="callout callout-warning">
                        <small class="text-muted">Admins</small><br>
                        <strong class="h4">{{admins-count}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center">
            <h1>Helpdesk messages</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead> <!--class="thead-dark"-->
                        <tr>
                            <th scope="col">Author</th>
                            <th scope="col">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{{/banking-template}}