{{#banking-template}}
    <div class="card">
        <div class="card-header text-center">
            <h1>Banking Accounts</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Account Name</th>
                        <th scope="col">Account Number</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Transparent</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#accounts}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{accountNumber}}</td>
                                <td></td>
                                <td>{{transparent}}</td>
                            </tr>
                        {{/accounts}}
                    </tbody>
                </table>
            </div>
            <a href="/banking/account/create"><i class="cui cui-note"></i>Add account</a>
        </div>
        <div class="card-footer text-center">
            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{{/banking-template}}