{{#banking-template}}
    <div class="card">
        <div class="card-header text-center">
            <h1>Account details</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th>Available balance:</th>
                            <td>1.886'412'123 BTC</td>
                        </tr>
                        <tr>
                            <th>Current balance:</th>
                            <td>2.887'415'356 BTC</td>
                        </tr>
                        <tr>
                            <th>Blocked amount:</th>
                            <td>1.001'003'233 BTC</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-6 table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th>Account No.:</th>
                            <td>2400291096</td>
                        </tr>
                        <tr>
                            <th>IBAN:</th>
                            <td>LL9860101200012300291096</td>
                        </tr>
                        <tr>
                            <th>BIC/SWIFT:</th>
                            <td>LLSBLLPPXXX</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h1>Transactions</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">To account</th>
                        <th scope="col">Message for beneficiary</th>
                        <th scope="col">Note</th>
                        <th scope="col">State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>05/09/2018</td>
                        <td>-0.0112346</td>
                        <td>-</td>
                        <td>Payment</td>
                        <td>-</td>
                        <td>Authorized</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>05/09/2018</td>
                        <td>-0.0112346</td>
                        <td>-</td>
                        <td>Payment</td>
                        <td>-</td>
                        <td>Authorized</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>05/09/2018</td>
                        <td>-0.0112346</td>
                        <td>-</td>
                        <td>Payment</td>
                        <td>-</td>
                        <td>Authorized</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>05/09/2018</td>
                        <td>-0.0112346</td>
                        <td>-</td>
                        <td>Payment</td>
                        <td>-</td>
                        <td>Authorized</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>05/09/2018</td>
                        <td>-0.0112346</td>
                        <td>-</td>
                        <td>Payment</td>
                        <td>-</td>
                        <td>Authorized</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-center">
            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{{/banking-template}}