<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{#title}}{{title}} | {{/title}}Liberland State Bank</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css"> <!-- Bootstrap Form Helpers -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" />


    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="app header-fixed sidebar-fixed sidebar-lg-show">
<header class="app-header navbar navbar-dark bg-dark p-2">
    <button class="navbar-toggler sidebar-toggler d-lg-none " type="button" data-toggle="sidebar-show" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <div class="navbar-brand-full">
            <img src="/images/logo.svg" width="30" height="30" alt="Liberland State Bank" />
            <span>State Bank</span>
        </div>
        <img class="navbar-brand-minimized" src="/images/logo.svg" width="30" height="30" alt="Liberland State Bank" />
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
        <a href="/logout" class="btn btn-danger" >Logout</a>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <div class="sidebar-header">
            <a href="/banking/profile">
                <img class="img-avatar" src="/images/avatar.png" alt="Avatar">
                <div>
                    <div class="banking-username">{{username}}</div>
                </div>
            </a>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-pill badge-danger">5</span>
                    <i class="cui-bell"></i>
                </a>
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    <span class="badge badge-pill badge-info">7</span>
                    <i class="cui-envelope-letter"></i>
                </a>
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul class="nav">
                {{#authorization.isUser}}
                <li class="nav-title">Banking Account</li>
                <li class="nav-item">
                    <a class="nav-link" href="/banking/dashboard">
                        <i class="nav-icon cui-speedometer"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/banking/accounts">
                        <i class="nav-icon cui-speedometer"></i>Accounts
                    </a>
                </li>
                {{/authorization.isUser}}
                {{#authorization.hasAdminRole}}
                <li class="nav-title">Administration</li>
                <li class="nav-item">
                    <a class="nav-link" href="/administration/dashboard">
                        <i class="nav-icon cui-speedometer"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="/administration/users">
                        <i class="nav-icon cui-user"></i>Users
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/administration/users">
                                <i class="nav-icon cui-user"></i>List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/administration/users/add">
                                <i class="nav-icon cui-user-follow"></i>Add User
                            </a>
                        </li>
                    </ul>
                </li>
                {{/authorization.hasAdminRole}}
                <li class="nav-title">Settings</li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="nav-icon cui-user"></i>Profile
                    </a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">

        <ol class="breadcrumb">
            {{#navigation}}
                <li class="breadcrumb-item"><a href="{{href}}">{{name}}</a></li>
            {{/navigation}}
            <!--<li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Account Details</li>-->
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
            {{{banking-template.content}}}
            </div>
        </div>

</main>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, Bootstrap, then CoreUI  -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
<!-- Bootstrap Form Helpers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

<script>
    $(function () {
      var nua = navigator.userAgent
      var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
      if (isAndroid) {
        $('select.form-control').removeClass('form-control').css('width', '100%')
      }
    })
  </script>
</body>

</html>