{{#banking-template}}
    <div class="card">
        <div class="card-header text-center">
            <h1>Create Account</h1>
        </div>
        <div class="card-body">
            <form action="create" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div class="form-group row">
                    <label for="title" class="col-12 col-md-2 col-form-label">Account name</label>
                    <div class="col-12 col-md-7">
                        <input type="text" class="form-control" name="account-name" placeholder="Account name" value="{{#form}}{{form.title}}{{/form}}" maxlength="127">
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="account-transparent">
                            <label class="form-check-label" for="account-transparent">Transparent account</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{{/banking-template}}