<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{#status}}Error {{status}} | {{/status}}Liberland State Bank</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4.1 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="error-page">
<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3">
            <div class="row">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h2>Problem occurred on Liberland State Bank page!</h2>
                    {{#status}}<h1>{{status}}</h1>{{/status}}
                    {{#error}}<h6>{{error}}</h6>{{/error}}
                    <p>You can <a href="/contacts">contact</a> our support.</p>
                    <a href="/" class="btn btn-link">Back home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>