{{# minimalistic-template}}
    <h1 class="text-center">Installation</h1>

    <div class="row">
        <div class="col text-center">
            <p>System is already installed.</p>
        </div>
    </div>

{{/minimalistic-template}}