{{# minimalistic-template}}
    <h1 class="text-center">Installation</h1>

    <p>This should be first step that you do with new installed system.</p>
    <p>First, start with create password for superuser:</p>
    <form action="install" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" value="root" disabled>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passwordRepeat">Password</label>
            <input type="password" class="form-control" name="passwordRepeat" placeholder="Password Repeat">
        </div>
        <div class="form-row">
            <div class="form-group col-sm-3">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>

{{/minimalistic-template}}