{{#public-template}}
    <h1>Legal disclaimers</h1>
    <p>This disclaimer contains the terms and conditions of use (hereinafter only "conditions") for the website
        www.statebank.ll. We hereby request that all those who are not familiar
        with these conditions become so familiarized before starting any use of these pages. By using the websites you
        provide your consent to these conditions.</p>
    <ul>
        <li>The websites are operated by RM-S FINANCE, s.r.o. (hereinafter only "operator"), which is a member of the
            Liberland State Bank along with all of the other entities mentioned below (along with the operator hereinafter only
            "Liberland State Bank"):</li>
        <li>Liberland State Bank - a securities broker with a valid license from the Liberland</li>
    </ul>

    <h2>Copyrights and trademarks</h2>



    <p>Entities within the Liberland State Bank retain all copyrights and other rights to use and protect all websites and
        their contents, understood as articles, news, prospectuses, contracts, pricelists and other materials (hereinafter
        only "materials"), as well as trademarks unless otherwise stated. The information published on these websites is
        exclusively intended for the personal use of the users and any use for any other purposes including any additional
        reproduction, transmission, copying or other processing or any changes made thereto without the prior consent of
        the operator is expressly forbidden.</p>

    <p>Privacy and personal data processing information
        Some features of this site and services for its users require user registration. A part of the registration is
        granting of consent to your personal data processing within the meaning of generally binding legal regulations,
        especially the Act no. 101/2000 Coll., on the protection of personal data (as amended) of the company RM-S FINANCE,
        s.r.o., IČ 62915240, se sídlem V Celnici 1028/10, 117 21 Praha 1 (hereinafter referred to as "the Controller"),
        namely:</p>
    <ul>
        <li type="a">in the scope of the name and surname, e-mail address, telephone number, birth number or, where applicable, ID
            and place of residence;</li>

        <li type="a">for the purposes of the marketing and business activities of the Controller; including the dissemination of
            business communications relating to its products or services or, where applicable, products and services of
            companies forming part of the same group as the Controller, including through the e-mail address mentioned;</li>
        <li type="a">for the period of use of the products and services of the Controller (until the registration is canceled).</li>

    </ul>
    <p>I am aware of the fact that this consent to data storage and processing - granted in accordance with generally
        binding legal regulations - is voluntary and that I can withdraw my consent at any time. Revocation of consent must
        be made in writing to the Controller. Furthermore, I acknowledge that an active user account is subject to granting
        of consent and its continuation and that in case of withdrawal of consent the Controller is hereby authorized to
        cancel my user account.</p>

    <p>Also, I am aware that, throughout the period of processing of personal data I have access to them, the right to
        amend them and, where I believe that the processing of personal data is inconsistent with the protection of privacy
        and personal life or inconsistent with the generally binding legal regulations, I may ask the Controller for an
        explanation and to remedy the issue.</p>

    <p>Obtained personal information may be disclosed only to the officials authorized by the Controller, the companies
        forming a group with the Controller, the competent state authorities and persons who have a legal right to require
        the Controller to disclose this information.</p>

    <p>Personal data are processed in an automated manner and manually while observing all the safety rules for the
        management and processing of personal data. The processing in particular includes data storage in the database of
        the Controller, active use of the data when communicating with the Data Subject and granting access to data to
        authorized persons.</p>

    <h2>Warning of the risks of investing in investment instruments</h2>
    <p>There is a constant and ever-present risk connected to fluctuating values when investing in investment instruments
        (e.g. securities and derivatives) and funds invested into such investment instruments can increase or decrease with
        equal likelihood. Rates, foreign exchange rates, prices, yields, returns, performance and other investment
        instrument parameters can change, either rising or falling. Returns on funds invested into investment instruments
        are not guaranteed in any way. Investors who invest into investment instruments are always exposed to the risk of a
        loss inherent in all such investments. Any rates, prices, yields, returns, performance or other parameters achieved
        by individual investment instruments in the past cannot in any case be considered a guarantee for any future rates,
        prices, yields, returns, performance or other parameters of these investment instruments. The provision of
        investment services by a securities broker cannot be considered any form of collective investing, any a deposit
        into a financial institution or any form of insurance or annuity insurance. In no way can the information shown on
        these websites related to any financial market or capital market regulator or any guarantee system (e.g. the
        securities broker’s Guarantee Fund) be interpreted as a guarantee of any returns on any investment services or any
        returns on investments in any investment instrument or that such regulators recommend such investments.</p>

    <p>The Liberland State Bank recommends that all of its investors consult their investment aims and decisions with
        professional staff before making any decisions.</p>

    <h2>Cookies</h2>
    <p>We use cookies to ensure that we give you the best experience on our website.</p>

    <h3>Information about scope and the purpose of processing cookies</h3>
    <h4>What are cookies?</h4>

    <p>Cookie is a small text file made up of letters and digits sent from a website to a user´s web browser. It enables
        the website to record about your visit, preferred language and other settings. Your next visit of websites may be
        easier and more productive. Cookies are important. Browsing the web would be much more difficult without them.</p>

    <p>Cookies are used for a variety of purposes. We use them, for example, to store your settings, to select relevant
        ads or to track the number of visitors to the site.</p>

    <h4>How we use cookies?</h4>

    <p>In addition to our own cookies (first-party cookies), we use in some cases also third-party cookies that enable us
        to better understand and to improve the effectiveness of our advertising primarily on the website of Liberland
        State Bank or on the websites of third parties. In case of third-party cookies are cookies administrated on their
        side.</p>

    <p>On these websites we use tools and services provided by Google, Inc. and Seznam.cz, as, especially Google Tag
        Manager, Sklik, Google Universal Analytics and Google AdWords, including remarketing / retargeting and overviews on
        demographics and interests of users.</p>

    <p>In regards to the above, websites use different types of cookies and by species varies the extent of their
        processing, either through temporary cookies that are stored on your computer only to the end of browsing the site,
        or through permanent cookies, which remain stored on your computer for a long period of time.</p>

    <p>Gathering of the information is used to improve our services, especially for marketing purposes, editing of web
        pages and adapting their operations in a way so they can suit the best to the interests and needs of site visitors
        and to enable the full, functional and without problem use of our websites, including third-party services.</p>

    <h4>Google Universal Analytics</h4>

    <p>These sites use Google Universal Analytics provided by Google, Inc. (hereinafter referred to as "Google"). Google
        Universal Analytics uses "cookies", which are text files stored in your computer, enabling an analysis of the
        method of use of the site by users.</p>

    <p>Google will use this information for the purpose of evaluating the use of website and for creating reports on its
        activity intended for the operator and for providing other services relating to the activities on the site and to
        the use the Internet at all. Google may also provide this information to third parties, if required by law or if
        such third parties process the information for Google. You can reject using cookies by the choice of the
        appropriate settings on your browser. However, please, note that if you do so, you will not be able to fully use
        all the features of the website. By using this site, you agree to the handling of cookies by Google in the manner
        and for the purposes stated above.</p>

    <p>Detailed information about Google Analytics can be found here: <a href="http://www.google.com/intl/cs/policies/privacy/">http://www.google.com/intl/cs/policies/privacy/</a></p>

    <p>In regards to the fact that our websites use Google / Universal Analytics, reference is made to accessory of the
        web browser which after installing disables tracking cookies: <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/</a> By using
        our websites you consent to the use of cookies. As a consent is being considered the actual web browser setting
        that will enable us to handle cookies. In the case you do not want to use cookies (ie: If you do not agree with the
        processing of cookies or your approval you would like to subsequently cancel) and still want to continue to use our
        websites, you need to make appropriate adjustments to the settings of your internet browser to not support cookies.
        Please, note that if you refuse of cookies it may affect some features of the website.</p>

    <p>Under the links below you can find information on how to remove cookies in the most common web browsers (for
        information provided under various links, as well as for possible amendments to those links we are not
        responsible):</p>

    <p><i>Internet Explorer:</i> <a href="https://support.microsoft.com">https://support.microsoft.com</a></p>

    <p><i>Mozilla Firefox:</i> <a href="https://support.mozilla.org">https://support.mozilla.org</a></p>

    <p><i>Google Chorme:</i> <a href="https://support.google.com">https://support.mozilla.org</a></p>

    <p><i>Opera Software:</i> <a href="http://help.opera.com/">https://support.mozilla.org</a></p>

    <h2>Liability waiver</h2>
    <p>All materials located on these websites are to be used exclusively for information purposes and appropriate due
        diligence was used and exercised during their creation. The previous sentence does not apply to the materials
        published on the websites in compliance with contracts concluded between Liberland State Bank entities and their
        clients. Information published on the websites cannot be, with the exception of those explicitly marked as such,
        considered to be any form of legal, tax or investment recommendations, analysis or proposals and offers to purchase
        or sell investment instruments. Investment recommendations that are marked as such only serve as informational
        materials and the Liberland State Bank in no case is responsible for any damages the arise in connection with such
        materials. The Liberland State Bank reserves the right to change and of the materials published on the websites
        without prior notice.</p>

    <p>The Liberland State Bank is not responsible for the accuracy, completeness and current nature of the contents of the
        websites, is not responsible for any direct or indirect damages that arise in connection with the connection to and
        the use of the websites and their contents and is also not responsible for any damages that occur due to their
        complete or partial lack of functionality or the inability to connect to the websites. The use of any information
        about the websites is intended exclusively for the consideration of users with the user responsible for such
        consideration.</p>

    <h2>Final provisions</h2>
    <p>The Liberland State Bank is not responsible for the accuracy of translated materials on the websites despite its
        best efforts to translate such materials.</p>

    <p>The conditions are valid and in force on the date of their publication on the websites. If you do not agree with
        these conditions, please leave these websites and refrain from using them in the future.</p>
{{/public-template}}