{{# minimalistic-template}}
    <h1 class="text-center">Login</h1>

    <form action="login" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <div class="form-group">
            <label for="username">Liberland ID</label>
            <input type="text" class="form-control" name="username" aria-describedby="id" placeholder="Enter your Liberland ID">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-row">
            <div class="form-group col-sm-3">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
            <div class="form-group col-sm-9">
                <div class="form-check p-2 ">
                    <input class="form-check-input" type="checkbox" id="checkRemember">
                    <label class="form-check-label" for="checkRemember">Remember me</label>
                </div>
            </div>
        </div>
    </form>

{{/minimalistic-template}}