<!DOCTYPE html>
<html lang="en">

  <head>
      <title>{{#title}}{{title}} | {{/title}}Liberland State Bank</title>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap 4.1 -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

      <link rel="stylesheet" href="styles/style.css">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Liberland State Bank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              {{#authorization.isUser}}
              <li class="nav-item">
                  <a class="nav-link" href="/banking">Banking<!--<span class="sr-only">(current)</span>--></a>
              </li>
              {{/authorization.isUser}}
              {{#authorization.hasAdminRole}}
              <li class="nav-item">
                  <a class="nav-link" href="/administration">Administration</a>
              </li>
              {{/authorization.hasAdminRole}}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      About Us
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/contacts">Contacts</a>
                      <a class="dropdown-item" href="./legal-disclaimers">Legal disclaimers</a>
                  </div>
              </li>

          </ul>
          <div id="autentificator">
              {{#authorization.isAnonymous}}
                  <a class="btn btn-primary" href="/signup">Sign Up</a>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-login">Log In</button>
              {{/authorization.isAnonymous}}
              {{^authorization.isAnonymous}}
                  <a href="/logout" class="btn btn-danger" >Logout</a>
              {{/authorization.isAnonymous}}

          </div>
      </div>
  </nav>
  <header class="jumbotron text-center header-background">
      <div class="container">
          <div class="row" id="header">
              <div class="col-md-8">
                  <a href="./"><img src="images/header.svg" alt="Liberland State Bank" width="100%" /></a>
              </div>
              <div class="col-md-4" id="motto">
                  <p class="d-none d-sm-block">Place, where you can secure manage you finances used in Liberland!</p>
                  <p>To Live and Let Live!</p>
              </div>
          </div>
      </div>
  </header>
  <div class="container p-2">
          {{{public-template.content}}}
  </div>
  <footer class="bg-dark text-light">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">Copyright</div>
          </div>
      </div>
  </footer>

  <div class="modal fade login" id="modal-login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Log in</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="avatar">
                      <img src="images/logo.svg" alt="Avatar" class="avatar">
                  </div>

                  <form action="login" method="post">
                      <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                      <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" class="form-control" name="username" aria-describedby="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                      <div class="form-group form-row">
                          <div class="col">
                              <button type="submit" class="btn btn-warning">Submit</button>
                          </div>
                          <div class="form-check col">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Remember me</label>
                          </div>

                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <span class="psw">Forgot <a class="btn disabled" href="#">password?</a></span>
              </div>
          </div>
      </div>
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>

</html>