{{#public-template}}
    <h1>Welcome at Liberland State Bank</h1>
    <div class="row p-3">
        <p>We are the only bank that is dedicated exclusively to finance in the Liberland.
            We allow you to convert any currency to <b>Liberland's Merits</b> and back to the Euro,
            manage your wallets for cryptocurencies and many other services that will allow
            you to treat money as if it were a hard currency.</p>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <h3>Non-contact embossed payment card for free!</h3>
            <p><i class="fas fa-credit-card fa-10x"></i></p>
        </div>
        <div class="col-sm-4">
            <h3>Fast access to your finances!</h3>
            <p><i class="fas fa-shipping-fast fa-10x"></i></p>
        </div>
        <div class="col-sm-4">
            <h3>Security features that none other cryptocurency can offer!</h3>
            <p><i class="fas fa-shield-alt fa-10x"></i></p>
        </div>
        <div class="col-sm-4">
            <h3>Friendly to your finances!</h3>
            <p><i class="fas fa-hand-holding-usd fa-10x"></i></p>
        </div>
        <div class="col-sm-4">
            <h3>With benefits of cryptocurencies!</h3>
            <p><i class="fab fa-btc fa-10x"></i></p>
        </div>
        <div class="col-sm-4">
            <h3>Cheap money exchange!</h3>
            <p><i class="fas fa-exchange-alt fa-10x"></i></p>
        </div>
    </div>
    <h2>Contact us!</h2>
    <p>We have 24/7 support for everybody for free! Don't waste your time with finding answers to your
        questions and ask us strainght away on our chat, using email or phone call. More about ways to
        contact us you can find on page <a href="/contacts">Contacts</a>.</p>
{{/public-template}}