html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 100%;
}

.header-background {
    background-image: url("/images/Liberland-photo.jpg");
    background-size: cover;
}


#header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#motto {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/* Large device only */
@media (min-width: 1200px) { 
    .menu {
        max-width: 200px;
        float: left;
        min-height: auto;
    }
}

/* Error page */
body.error-page {
    background-color: #ffc107;
    margin-top: 150px;
}

body.error-page h1 {
    font-weight: bold;
    color: #42494F;
    font-size: 100px;
    text-shadow: 2px 4px 5px black;
}

body.error-page h6 {
    color: #42494F;
}

/* Login*/
.login .avatar {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.login .avatar img {
    width: 40%;
}


/* Core UI */
.banking-username {
    font-weight: bold;
    text-transform: uppercase;
}
